.middle{
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.middle2{
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.middle3{
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.middle4{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.conter{
  text-align: center;
  color:white;
  margin-top:10px ;
  text-transform: uppercase;
  font-size: 16px;
}
.block{
  border-radius: 20px;
  margin-top: -230px;
  margin-left: 300px;
  width:850px;
  height:400px;
  background-color: black;
  border:2px solid blue;
}

.btn1{
  background: none;
  color:white;
  border:2px solid blue;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 20px;
  min-width: 200px;
  margin:10px;
  transition: color 0.4s linear;
}

.btn1:hover{
  color:#fff;
}

.btn1:before{
  content:"";
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  background: blue;
  z-index:-1;
  border-radius: 20px;
  transition: transform 0.5s;
  transform-origin:0 0 ;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}


.btn2::before{
  transform: scaleY(0);

}

.btn2:hover::before{
  transform: scaleY(1);
}
