body{
  margin:0;
  padding: 0;
}
.coord{
  display: flex;
  align-items: center;
  justify-content: center;
  width:600px;
  border:2px solid rgba(240, 147, 43,1.0);
  height:110px;
  background-color: #007bff;
  border-radius: 15px;
  padding: 5px;
  margin-top:5px;
  color:#fff;
  text-align: center;
}
table{
position: absolute;
transform: translate(-50%,-50%);
top:100%;
left:50%;
}
td{
  padding: 5px;
}
.btn{
  border: 1px solid #fff;
  border: linear-gradient(180deg, #ffc164 0%, #f59300 46.12%, #f59300 97.02%);
  background: linear-gradient(180deg, #ffc164 0%, #f59300 46.12%, #f59300 97.02%);
  border-radius: 5px;
  color:#fff;
  width:50%;
}
.lien{

  margin-left:10px;

}
.medecin{
  width:300px;
}

a{
  color:white;
}
